---
layout: default
comments: true
---
<article class="post">
  <header class="post__header">
    <h1 class="post__titulo">
      <a href="{{ post.url }}">
        {{ page.title }}
      </a>
    </h1>
    <h2 class="post__fecha">
        {% assign m = page.date | date: "%-m" %}
      {{ page.date | date: "%-d de" }}
      {% case m %}
      {% when '1' %}enero
      {% when '2' %}febrero
      {% when '3' %}marzo
      {% when '4' %}abril
      {% when '5' %}mayo
      {% when '6' %}junio
      {% when '7' %}julio
      {% when '8' %}agosto
      {% when '9' %}septiembre
      {% when '10' %}octubre
      {% when '11' %}noviembre
      {% when '12' %}diciembre
      {% endcase %}
      {{ page.date | date: "de %Y" }}</h2>

    </header>
    <section class="post__contenido">
      {{ content }}
    </section>
  </article>
    {% include comentarios.html%}
